API_URL="https://server.com/receive"
API_KEY="arya119000"
AES_KEY_B64="MhbKvfgNHBe6zJL2ttrrtSDHcvjndj1Iak4+yFU321o="
Telegram_Bot_Token="6565565625:AAG9UynrrtrrW2-cg3ZLadHOjkrtjkrNHTw8VmATgCKc"
Chat_ID="6675384136"
