VITE_FIREBASE_API_KEY= AASHJbhjshjasdashfGAgjasjsaThRe4W4
VITE_FIREBASE_AUTH_DOMAIN= sahgsagshgsahgbs-1sds8723b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID= sahgsagshgsahgbs-1sds8723b
VITE_FIREBASE_STORAGE_BUCKET= sahgsagshgsahgbs-1sds8723b.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID= 283565887415418
VITE_FIREBASE_APP_ID= 5:98685988455625:web:m58885A4baa05635995"
